
@using HayzumTicaret.UI.Models
@{
            Resim rsm = ViewBag.resim;
            
}
<div class="fileupload-new thumbnail" style="width: 300px; height: 160px;">

    <img src="@rsm.OrtaYol" alt="" />
</div>
<div class="form-group">
    <button class="btn btn-success kaldir">Tamam</button>
</div>

