
@{
    ViewBag.Title = "Hata";
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-9">
                <h2>
                    Yetkisiz Giriş!
                </h2>
                <p>Üzgünüz, bu sayfaya girmeye yetkiniz yok! Lütfen yetkili bir kullanıcı ile giriş yapınız...</p>

                <div class="pull-left">
                    <a class="btn btn-primary" href="/Site/Index">AnaSayfa</a>
                </div>
            </div>

        </div>
    </div>
</div>



